<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenCorporaUA</title>


</head>
<body>
    test here
    <open></open>


    <script src="http://127.0.0.1/open_corpora_ua_static/build/scripts/libraries/traceur-runtime.js"></script>
    <script src="http://127.0.0.1/open_corpora_ua_static/build/scripts/libraries/system-csp-production.src.js"></script>
    <script src="http://127.0.0.1/open_corpora_ua_static/build/scripts/libraries/Reflect.js"></script>

    <script>System.config({defaultJSExtensions: true});</script>
    <script src="http://127.0.0.1/open_corpora_ua_static/build/scripts/libraries/angular2.js"></script>
    <script src="http://127.0.0.1/open_corpora_ua_static/build/scripts/libraries/router.dev.js"></script>
    <script>System.import('http://127.0.0.1/open_corpora_ua_static/build/scripts/main/Bootstrap');</script>
</body>
</html>