<!DOCTYPE html>
<html ng-app="OpenCorporaUA.Base.App" lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenCorporaUA</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.0/angular-material.min.css">
    <link rel="stylesheet" href="http://127.0.0.1/open_corpora_ua_static/build/styles/landing/landing.css">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.0/angular-material.min.js"></script>


    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-messages.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-aria.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.min.js"></script>
</head>
<body>
    test here

    <script type="text/javascript" src="http://127.0.0.1/open_corpora_ua_static/build/scripts/app/AppModule.js"></script>
</body>
</html>